<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - News Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="/Scripts/jsvalidation.js"></script>
</head>
<body>
    <a name="top"></a>
    <div class="title-bar">
        <img src="~/resources/logo.png" />
        <span class="title text-uppercase">News Blog - @ViewBag.Title</span>
    </div>
    <div class="content">
        <div class="main-content">@RenderBody()</div>
        <menu>
            <a>@Html.ActionLink("Main page", "Index", "Home")</a>
            <a>@Html.ActionLink("Guest page", "Guest", "Guest")</a>
            <a>@Html.ActionLink("Questionnaire page", "Questionnaire", "Questionnaire")</a>
            <a>@Html.ActionLink("Log In", "Login", "User")</a>
            <a>@Html.ActionLink("Sign Out", "SignOut", "User")</a>
        </menu>
    </div>
    <footer>
        <span>&copy; Copyright Nataliia Lynnyk - @DateTime.Now.Year. All rights reserved</span>
        <a class="anchor" href="#top"> | Return to the top</a>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
